body{
    width: 100%;
    height: auto;
    margin: auto;

}



ul{
    list-style-type: none;
}
nav{
    margin-right: 50px;
    max-width: 617px;
}

.parent-container{
    min-width:320px;
    max-width:870px;
    height: auto;
    margin: auto;
}
.nav-icons{
display: flex;
justify-content:space-between;
}

.fas fa-ellipsis-h{
    height: 24px;
    width: 24px;
}
.nav-dots{
    position:fixed;
    
    
}
.nav-icons-big{
    display: none;
}

.nav-icons-medium{
    display: none;
}


  .dropdown-content {
    display: none;
    min-width: 160px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .dropdown-content a:link, a:visited {
    color: black ;
    text-decoration: none;
}
.dropdown-content a{
    float: none;
    display: block;
    text-align: left;
}

  .dropdown:hover .dropdown-content {
    display: block;
    float: left;
  }

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.text{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: 217px;
    max-width: 574px;
    margin-left: 52px;
    margin-right: 52px;
}

.image-horses{
    display: flex;
    justify-content: center;
}

/*...........................Media queries.....................................*/
@-ms-viewport{
    width: device-width;
  }


@media screen and (min-width: 800px){
    .title{
        font-size: 72px;
        line-height: 83px;

    }

    .text {
        font-size: 22px;
        line-height: 33px;
        margin: auto;
    }
    
    nav{
        max-width: 617px;
        margin: auto;
    }

    .nav-dots{
        display: none;
    }

    .nav-icons-medium{
        width: 249px;
        display: flex;
        justify-content: space-around;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    

    .nav-icons-medium a:link, a:visited {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color:black
    }

    .nav-icons-medium a:hover {
        color: red;
    }
} 

@media screen and (min-width:1000px){
    .title{
        font-size: 90px;
        line-height: 102px;

    }
   
    .text{
        font-size: 22px;
        line-height: 33px;
        margin: auto;
    }
    
    nav{
        max-width: 870px;
        margin: auto;
    }

    .nav-dots{
        display: none;
    }

    .nav-icons-medium{
        display: none;
    }

    .nav-icons-big{
        width: 214px;
        display: flex;
        justify-content: space-around;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
    }

    .nav-icons-big a:link, a:visited{
        color: #ddd;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        color:black
    }

    .nav-icons-big a:hover {
        color: red;
    }
}